<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="navbar">
    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li>
      </ul>
      </div>
<div class="container">
  <div class="col">
    <p>Bucket list items</p>
     </div>
     <div class="col">
       <p>Your bucketlist is {{ itemCount}}</p>
     </div>
</div>

<div class="form-label">
  <form>
    <div class="form-group">

      <input type="text" class="txt" name="item" placeholder="life goal" [(ngModel)]="goText">
      <br><span>{{goText}}</span>
      <br>
      <input type="submit" class="" [value]="btnText" (click)="addItem()">
    </div>
  </form>
</div>
<div class="container">
  <p class="" *ngFor= "let goal of goals">
    {{goal}}
  </p>
</div>